@accent: #EE6650;
@black:  #222222;

body {
    margin: 0;
    padding: 0;
    border-top: 5px solid @accent;
    font: 400 16pt "Linux Libertine", serif;
    color: @black;
    -webkit-font-feature-settings: "kern", "liga";
    -ms-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
    text-rendering: optimizeLegibility;
}

a {
    color: @accent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section, p {
    line-height: 1.6em;
}
hr {
    border: none;
    padding: 1em 0;
}

.width {
    margin: 0 auto;
    max-width: 840px;
    width: 90%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}


header {
    padding: 3em 0 0;
    -webkit-font-feature-settings: "kern", "liga", "dlig", "hlig";
    -ms-font-feature-settings: "kern", "liga", "dlig", "hlig";
    font-feature-settings: "kern", "liga", "dlig", "hlig";
    &>a {
        color: #FFF;
    }
    &>a:hover {
        text-decoration: none;
        opacity: 0.75;
    }
    h1 {
        font: 400 17pt "Avenir Next", "Open Sans", sans-serif;
        color: #FFF;
        background: @accent;
        padding: 0.5em 1em;
        display: inline-block;
        margin-bottom: 1.5em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    h2 {
        margin: 1em auto;
        max-width: 90%;
        font-weight: 400;
        font-size: 32pt;
    }
}
#hero {
    padding: 9em 0 8em 0;
    text-align: center;
    h1 {
        margin-bottom: 0;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    li:not(:first-child):before {
        content: '\00A0\00B7\00A0\00A0';
    }
}

section {
    padding: 5em 0;
    h1, h2, h3, h4, h5, h6 {
        font-family: "Avenir Next", "Open Sans", sans-serif;
        font-weight: 400;
    }
}

#features {
    dt {
        font-family: "Avenir Next", "Open Sans", sans-serif;
        font-size: 1.4em;
        font-weight: 400;
        margin-top: 0.5em;
    }
    dd {
        margin: 0.5em 0 1.5em 0;
    }
    div {
        margin: 5em 0;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    img {
        height: 150px;
    }
    article {
        max-width: 500px;
    }
    div:nth-child(odd) img, div:nth-child(even) article {
        float: right;
    }
    div:nth-child(even) img, div:nth-child(odd) article {
        float: left;
    }
    div:nth-child(2) img {
        margin-top: 15px;
    }
}

#catalogue {
    padding: 150px 0;
    > h1 {
        margin-bottom: 25px;
    }
}
#fonts {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    h1 {
        font-size: 1.1em;
        position: relative;
        margin-bottom: 0;
        &:before {
            content: '\21B3';
            font-weight: 400;
            position: absolute;
            right: 100%;
            margin-right: 10px;
        }
    }
    li {
        width: 100%;
        margin-bottom: 50px;
    }
    img {
        height: 100px;
        width: auto;
        padding: 50px 25px 0 25px;
        opacity: 0.5;
    }
    img:hover {
        opacity: 0.75;
    }
    article {
        .width;
    }
}

footer {
    font-size: 14pt;
    padding: 2em 0;
}

@media screen and (max-width: 840px) {
    #features {
        img {
            display: none;
        }
        div {
            float: left;
            margin: 0;
        }
        article {
            max-width: 100%;
        }
    }
}