language: go
sudo: false

branches:
  only:
    - gh-pages
    - /^.*$/

cache:
  directories:
  - vendor/bundle

go:
  - 1.5.1

before_install:
  - rvm install ruby --latest
  - bundle install --path vendor/bundle --jobs 3
  - bundle exec jekyll build
  - cd _site/

script:
  - go test

