{% capture charmap_id %}{{ page.family }}-{{ charmap_name }}{% endcapture %}
{% capture charmap_id %}{{ charmap_id | replace: " " "" }}{% endcapture %}
{% capture charmap_id %}/assets/charmap_template/{{ charmap_id }}{% endcapture %}

{% assign display = false %}
{% for static_file in site.static_files %}
	{% if static_file.path == charmap_id %}
		{% assign display = true %}
	{% endif %}
{% endfor %}

{% unless display == false %}

<article class="charmap">
	<span class="section">Character Map</span>
	{% include {{charmap_path}} %}
</article>

{% endunless %}

