<footer>
    <div class="{% if page.layout %}width{% else %}content{% endif %}">
        <h1>Brick</h1>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/fonts">Fonts</a></li>
                <li><a href="https://github.com/alfredxing/brick/wiki/Usage">Docs</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="https://github.com/alfredxing/brick">GitHub</a></li>
            </ul>
        </nav>
    </div>
</footer>
