<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} &middot; Brick</title>
	<meta name="description" content="Brick is an open-source webfont service that serves fonts in their original form for high quality rendering across all browsers.">
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400/Open+Sans:400">
	<link rel="stylesheet" href="http://localhost:9001/css/main.min.css">
</head>
<body>
	<header class="page">
		<div class="width">
			<a href="../"><h1>Brick</h1></a>
			<nav>
				<ul>
					<li><a href="{{ site.url }}/">Home</a></li>
					<li><a href="{{ site.url }}/fonts">Catalogue</a></li>
					<li><a href="https://github.com/alfredxing/brick/wiki/Usage">Usage</a></li>
					<li><a href="https://github.com/alfredxing/brick">GitHub</a></li>
				</ul>
			</nav>
		</div>
	</header>