---
layout: none
---
<!DOCTYPE html>
<html>
<head>
    <title>Font catalogue. Brick.</title>
    <meta name="description" content="Font catalogue. Brick is an open-source webfont service that serves fonts in their original form for high quality rendering across all browsers.">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400/Open+Sans:400">
    <link rel="stylesheet" href="../css/main.min.css">
</head>
<body>
    <header class="width">
        <!--
        Oh noes! Bad semantics with h1 inside a. Redesign of this page
        coming soon anyways; this is a temp hack
        -->
        <a href="../"><h1>Brick</h1></a>
        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="https://github.com/alfredxing/brick/wiki/Usage">Usage</a></li>
                <li><a href="https://github.com/alfredxing/brick">GitHub</a></li>
            </ul>
        </nav>
    </header>
    <section id="catalogue">
        <h1 class="width">Font catalogue</h1>
        <ul id="fonts">
            {% capture fonts %}
                {% for font in site.data.fonts %}
                    {{ font[0] | replace: ' ', '&#32;' }}
                {% endfor %}
            {% endcapture %}
            {% assign sorted = fonts | split:' ' | sort %}
            {% for font in sorted %}
            {% assign name = font | replace: '&#32;', ' ' %}
            <li>
                <img src="./{{ name | replace: ' ', '' | downcase }}/specimen.png" class="preview" alt="EB Garamond specimen">
                <article>
                    <h1>{{ name }}</h1>
                    <span>{% for style in site.data.fonts[name] %}{{ style[0] }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section id="font-notes" class="width">
        <h1>Notes</h1>
        <p>This list provides only a preview of the fonts. For usage, please see the <a href="https://github.com/alfredxing/brick/wiki/Usage">wiki</a> page.</p>
    </section>
    <footer class="width">
        <p>Copyright &copy; MMXIV <a href="http://alfredxing.com" target="_blank">Alfred Xing</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;Fonts are copyright of their respective authors.</p>
    </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-49018263-1', 'brick.im');ga('send', 'pageview');
    </script>
</body>
</html>
