---
layout: none
---
<!DOCTYPE html>
<html>
<head>
	<title>Font catalogue. Brick.</title>
	<meta name="description" content="Brick is an open-source webfont service that serves fonts in their original form for high quality rendering across all browsers.">
	<link rel="stylesheet" href="../css/main.min.css">
</head>
<body>
	<header class="width">
		<div>
			<h1><a href="../">Brick</a></h1>
			<nav>
				<ul>
					<li><a href="../">Home</a></li>
					<li class="active"><a href="#">Fonts</a></li>
					<li><a href="https://github.com/alfredxing/brick/wiki/Usage">Usage</a></li>
					<li><a href="https://github.com/alfredxing/brick">GitHub</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="catalogue">
		<h1 class="width">Font catalogue</h1>
		<ul id="fonts">
			{% for font in site.data.fonts %}
			<li>
				<img src="./{{ font[0] | replace: ' ', '' | downcase }}/specimen.png" class="preview" alt="EB Garamond specimen">
				<article>
					<h1>{{ font[0] }}</h1>
					<span>{% for style in font[1] %}{{ style[0] }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
				</article>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section id="font-notes" class="width">
		<h1>Notes</h1>
		<p>This list provides only a preview of the fonts. For usage, please see the <a href="https://github.com/alfredxing/brick/wiki/Usage">wiki</a> page.</p>
		<p>Also, this list may become incomplete or outdated. For the most up-to-date list, view the <a href="https://github.com/alfredxing/brick/blob/master/index.php#L7-L181">catalogue source</a>.</p>
	</section>
	<footer>
		<p>Copyright &copy; MMXIV <a href="http://alfredxing.com" target="_blank">Alfred Xing</a> &bull; Fonts are copyright of their respective authors.</p>
	</footer>
</body>
</html>
